<div class="container">
  <div class="row">
    <div class="col-md-7"></div>
    <img src="/assets/printer.png" alt="3D printer logo" class="img-fluid" style="width: 600px; height:400">
    <div class="col-md-5">
      <h1 clas="mt-5">Tagline</h1>
      <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
        Ipsum.
      </p>
      <button type="button" class="btn btn-warning mt-3">Click</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="bg-dark text-white py-3 card text-center">
        <div class="card-body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
        <app-card [cards]="cards"></app-card>
    </div>
  </div>
</div>
